# Calculando o Beta de um Ativo

## 1.0 Bibliotecas

In [1]:
import yfinance           as yf
import statsmodels.api    as sm
from datetime             import timedelta 
from datetime             import datetime

## 2.0 Selecionando o Ativo

In [2]:
# Lista de ativos
ativos = ["PETR4.SA", "BBAS3.SA", "BBSE3.SA", "^BVSP"]

# Selecionando a data atual
data = datetime.now()

# Buscar o histórico de 5 anos
cinco_anos_passado = data - timedelta(days = (365 * 5))

# Buscando os dados de fechamento do dia das cotações, selecionando o valor Ajustado 'Adj' 
dados_cotacoes = yf.download(ativos, cinco_anos_passado, data)['Adj Close']

dados_cotacoes

[*********************100%***********************]  4 of 4 completed

             BBAS3.SA   BBSE3.SA   PETR4.SA     ^BVSP
Date
2018-06-01  22.659044  17.403339   6.350525   77240.0
2018-06-04  22.984224  17.449411   6.888905   78596.0
2018-06-05  21.520912  16.784611   6.519506   76642.0
2018-06-06  20.456694  17.014988   6.417333   76117.0
2018-06-07  19.636353  16.626640   6.193335   73851.0
...               ...        ...        ...       ...
2023-05-24  44.610001  31.370001  26.650000  108800.0
2023-05-25  44.660000  31.809999  26.450001  110054.0
2023-05-26  44.400002  31.900000  26.799999  110906.0
2023-05-29  44.320000  32.090000  26.690001  110333.0
2023-05-30  44.700001  31.690001  26.389999  108967.0

[1238 rows x 4 columns]

## 3.0 Caculando os retornos diários

In [ ]:
# Calculando a variação percentual da
retornos_diarios = dados_cotacoes.pct_change().dropna()